<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" th:inline="none"></script>

</head>
<body>
<center>
    <form th:action="@{/list}" method="get">
        <table border="1">
            <tr>
                <td>
                    用户名：<input name="name" type="text" id="name"/>
                </td>
                <td>
                电话：<input name="phone" type="phone"/>
                </td>
                <td>
                    地址：<input name="address" type="address"/>
                </td>
                <td>
                    <input type="submit" value="提交"/>
                    <input type="reset" value="取消"/>
                </td>
            </tr>
        </table>
    </form>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>用户名</td>
            <td>电话</td>
            <td>地址</td>
            <td>操作</td>
        </tr>
        <tr th:each="user:${page.lists}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.address}"></td>
            <td>
                <a th:href="@{/toupdate(id=${user.id})}">编辑</a> &nbsp;&nbsp;
                <a th:href="@{/delete(id=${user.id})}">删除</a>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <a th:href="@{/list(currPageNo=1)}">首页</a>
                <th:block th:if="${page.currPageNo!=1}">
                    <a th:href="@{/list(currPageNo=${page.currPageNo -1})}">上一页</a>
                </th:block>
                <th:block th:if="${page.currPageNo!=page.totalPageCount}">
                    <a th:href="@{/list(currPageNo=${page.currPageNo+1})}">下一页</a>
                </th:block>
                <a th:href="@{/list(currPageNo=${page.totalPageCount})}">尾页</a>
            </td>
        </tr>
    </table>
    <a href="/toadd">add</a>
</center>

</body>
</html>